h1{
    padding-right: 25%;
}

body{
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}

input[type=text] {
    width: 25%;
    padding: 12px 12px;
    margin: 8px 8px;
    box-sizing: border-box;
  }

 button[type=submit] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
    margin-left: 28%;
  }
 .checkbox {
    height: 20px;
    width: 20px;
  }
  /* .longest{
    color: blue;
  } */